@font-face {
    font-family: "Negritas";
    src: url("../Fonts/DS-DIGI.TTF");
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: "Negritas","/BurbankBigCondensed-Bold.otf",Arial;
    color: black;
    font-size: 100px;
}
#holaaa{
    font-family: "Negritas","/BurbankBigCondensed-Bold.otf",Arial;
    color: black;
    font-size: 40px;
}
#abuelo{
    background-color: rgb(71, 71, 71);
    width: 500px;
    height: 630px;
    left: 35%;
    top:7%;
    position:absolute;
    border-radius: 50px;
    text-align: center;
}
/* #abuelo2{
    background-color: rgb(255, 0, 0);
    width: 500px;
    height: 800px;
    left: 35%;
    top:7%;
    position:absolute;
    border-radius: 50px;
    text-align: center;
} */

#reloj{
    background-color:#a7ddcd;
    border-radius:24%;
    height: 400px;
    width: 300px;
    position: relative;
    left:100px;
    top:20px;
    border-color: black;
    border-width: 100%;

}

#form{
    background-color: rgb(172, 172, 172);
    width: 400px;
    left:50px;
    position: relative;
}
