@font-face {
    font-family: "Negritas";
    src: url("../Fonts/BurbankBigCondensed-Bold.otf");
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: "Negritas","/BurbankBigCondensed-Bold.otf",Arial;
    color: black;
    font-size: 90px;
}
#holaaa{
    font-family: "Negritas","/BurbankBigCondensed-Bold.otf",Arial;
    color: black;
    font-size: 40px;
}
#abuelo{
    background-color: rgb(255, 0, 0);
    width: 500px;
    height: 630px;
    left: 35%;
    top:3%;
    position:absolute;
    border-radius: 50px;
    text-align: center;
}
/* #abuelo2{
    background-color: rgb(255, 0, 0);
    width: 500px;
    height: 800px;
    left: 35%;
    top:7%;
    position:absolute;
    border-radius: 50px;
    text-align: center;
} */
#reloj{
    background-color:#8ac9dc;
    border-radius:24%;
    height: 500px;
    width: 400px;
    position: relative;
    left:50px;
    top:20px;
    border-color: black;
    border-width: 100%;
}

#form{
    background-color: rgb(255, 198, 198);
    width: 400px;
    left:50px;
    position: relative;
}
